<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Carl's Market-Product Details</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">Welcome to Carl's Market!</div>
			<div class="fr">
				<div class="login_info fl">
					WELCOME：<em>Sonia Ofure</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">Login</a>
					<span>|</span>
					<a href="register.html">Registered</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">User Center</a>
					<span>|</span>
					<a href="cart.html">My Shopping Cart</a>
					<span>|</span>
					<a href="user_center_order.html">My Order</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="../static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="Search products">
			<input type="button" class="input_btn fr" name="" value="Search for">
		</div>
		<div class="guest_cart fr">
			<a href="cart.html" class="cart_name fl">My Shopping Cart</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">fresh fruits</a></li>
					<li><a href="#" class="seafood">Seafood</a></li>
					<li><a href="#" class="meet">Pork, Beef and Mutton</a></li>
					<li><a href="#" class="egg">Poultry eggs</a></li>
					<li><a href="#" class="vegetables">fresh vegetables</a></li>
					<li><a href="#" class="ice">Frozen food</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">Home page</a></li>
				<li class="interval">|</li>
				<li><a href="">Mobile phone fresh</a></li>
				<li class="interval">|</li>
				<li><a href="">lottery</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">All Categories</a>
		<span>></span>
		<a href="#">Fresh fruits</a>
		<span>></span>
		<a href="#">Product details</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="../static/images/goods_detail.jpg"></div>

		<div class="goods_detail_list fr">
			<h3>Daxing greenhouse strawberry</h3>
			<p>Strawberry berries are soft and juicy, delicious and refreshing, suitable for quick-freezing and fresh-keeping storage. After the strawberry is quick-frozen, the original color, fragrance and taste can be maintained, which is convenient for storage and export.</p>
			<div class="prize_bar">
				<span class="show_pirze">N<em>16.80</em></span>
				<span class="show_unit">Unit：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">Quantity：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">Total price:<em>16.80 Naira</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">Buy now</a>
				<a href="javascript:;" class="add_cart" id="add_cart">add to Shopping Cart</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>New Product</h3>
				<ul>
					<li>
						<a href="#"><img src="../static/images/goods/goods001.jpg"></a>
						<h4><a href="#">Imported lemons</a></h4>
						<div class="prize">N3.90</div>
					</li>
					<li>
						<a href="#"><img src="../static/images/goods/goods002.jpg"></a>
						<h4><a href="#">Muscat grape</a></h4>
						<div class="prize">N16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">Product desciption</li>
				<li>comment</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>product details:</dt>
					<dd>Strawberry Picking Garden is located in Sigezhuang Village, Panggezhuang Town, Daxing District, Beijing. It provides fresh strawberry picking and boutique gift boxes to Beijing and surrounding cities from January to June every year. The variety of strawberries is rich and sweet. All strawberries are cultivated strictly in accordance with organic standards and do not use any chemical fertilizers and pesticides. Strawberries can be eaten without washing during picking. Citizens who like strawberries are welcome to pick them, and all major units are welcome to buy fine organic strawberry gift boxes. Organic strawberry gift boxes are the best choice for gifts from relatives and friends and welfare gifts.</dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<div class="foot_link">
			<a href="#">about us</a>
			<span>|</span>
			<a href="#">contact us</a>
			<span>|</span>
			<a href="#">talent acquisition</a>
			<span>|</span>
			<a href="#">Links</a>		
		</div>
		<p>CopyRight © 2021 EHIDIGITAL Co., Ltd. All Rights Reserved</p>
		<p>phone：010-****888 </p>
	</div>
	<div class="add_jump"></div>

	<script type="text/javascript" src="js/jquery-1.12.2.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>
	
</body>
</html>