<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    
	<title>E-COMMERCE WEBSITE</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    
    
	<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../static/js/slide.js"></script>

</head>
<body>


	<div class="header_con">
		<div class="header">
			<div class="welcome fl">WELCOME TO CARL'S MARKET</div>
			<div class="fr">
                
				<div class="login_btn fl">
					<a href="login.html">LOGIN</a>
					<span>|</span>
					<a href="register.html">REGISTER</a>
				</div>
                
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">USER CENTER</a>
					<span>|</span>
					<a href="cart.html">SHOPPING CART</a>
					<span>|</span>
					<a href="user_center_order.html">MY ORDER</a>
				</div>

			</div>
		</div>		
	</div>



	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="../static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="Search Products">
			<input type="button" class="input_btn fr" name="" value="Search for">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">Shopping Cart</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
	</div>



	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">All Categories</h1>
			<ul class="navlist fl">
				<li><a href="">Home Page</a></li>
				<li class="interval">|</li>
				<li><a href="">Mobile Phone Fresh</a></li>
				<li class="interval">|</li>
				<li><a href="">Raffle</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
        
            
			<li><a href="#model01" class="fruit">Fresh Fruits</a></li>
            
			<li><a href="#model02" class="seafood">Seafoods</a></li>
            
			<li><a href="#model03" class="meet">Meat</a></li>
            
			<li><a href="#model04" class="egg">Eggs</a></li>
            
			<li><a href="#model05" class="vegetables">Vegatables</a></li>
            
			<li><a href="#model06" class="ice">Ice</a></li>
            
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                
                
				<li><a href="#"><img src="../static/images/slide.jpg" alt="Slideshow"></a></li>
				
				<li><a href="#"><img src="../static/images/slide02.jpg" alt="Slideshow"></a></li>
				
				<li><a href="#"><img src="../static/images/slide03.jpg" alt="Slideshow"></a></li>
				
				<li><a href="#"><img src="../static/images/slide04.jpg" alt="Slideshow"></a></li>
				
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			
            
			<a href="#"><img src="../static/images/adv01.jpg"></a>
		    
			<a href="#"><img src="../static/images/adv02.jpg"></a>
		    
		</div>
	</div>

    
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Fresh Fruits</h3>
			<div class="subtitle fl">
				<span>|</span>
				
                
				<a href="#">Boxed Strawberries</a>
				
				<a href="#">Lemon</a>
				
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">see more></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="../static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
				
                
				<li>
					<h4><a href="#">Strawberry 500g</a></h4>
					<a href="#"><img src="../static/images/goods/goods003.jpg"></a>
					<div class="prize">N10.00</div>
				</li>
				
				<li>
					<h4><a href="#">Grape</a></h4>
					<a href="#"><img src="../static/images/goods/goods002.jpg"></a>
					<div class="prize">N20.00</div>
				</li>
				
				<li>
					<h4><a href="#">Kiwi</a></h4>
					<a href="#"><img src="../static/images/goods/goods004.jpg"></a>
					<div class="prize">N12.12</div>
				</li>
				
				<li>
					<h4><a href="#">Lemon</a></h4>
					<a href="#"><img src="../static/images/goods/goods001.jpg"></a>
					<div class="prize">N32.00</div>
				</li>
				
			</ul>
		</div>
	</div>
    
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Seafood</h3>
			<div class="subtitle fl">
				<span>|</span>
				
                
				<a href="#">Kewei Shrimp</a>
				
				<a href="#">scallop</a>
				
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">see more></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="../static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
				
                
				<li>
					<h4><a href="#">Large Green Prawns</a></h4>
					<a href="#"><img src="../static/images/goods/goods006.jpg"></a>
					<div class="prize">N34.00</div>
				</li>
				
				<li>
					<h4><a href="#">Hokkaido saury</a></h4>
					<a href="#"><img src="../static/images/goods/goods007.jpg"></a>
					<div class="prize">N50.00</div>
				</li>
				
				<li>
					<h4><a href="#">scallop</a></h4>
					<a href="#"><img src="../static/images/goods/goods008.jpg"></a>
					<div class="prize">N56.60</div>
				</li>
				
				<li>
					<h4><a href="#">Kewei Shrimp</a></h4>
					<a href="#"><img src="../static/images/goods/goods008.jpg"></a>
					<div class="prize">N100.90</div>
				</li>
				
			</ul>
		</div>
	</div>
    
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Pork, Beef and Mutton</h3>
			<div class="subtitle fl">
				<span>|</span>
				
                
				<a href="#">chicken</a>
				
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">see more></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="../static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				
                
				<li>
					<h4><a href="#">pork</a></h4>
					<a href="#"><img src="../static/images/goods/goods011.jpg"></a>
					<div class="prize">N23.99</div>
				</li>
				
				<li>
					<h4><a href="#">Lamb</a></h4>
					<a href="#"><img src="../static/images/goods/goods012.jpg"></a>
					<div class="prize">N56.99</div>
				</li>
				
				<li>
					<h4><a href="#">steak</a></h4>
					<a href="#"><img src="../static/images/goods/goods013.jpg"></a>
					<div class="prize">N99.99</div>
				</li>
				
				<li>
					<h4><a href="#">Chicken leg</a></h4>
					<a href="#"><img src="../static/images/goods/goods014.jpg"></a>
					<div class="prize">N45.00</div>
				</li>
				
			</ul>
		</div>
	</div>
    
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Poultry eggs</h3>
			<div class="subtitle fl">
				<span>|</span>
				
                
				<a href="#">Boxed eggs</a>
				
				<a href="#">Duck eggs</a>
				
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">see more></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="../static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				
                
				<li>
					<h4><a href="#">Boxed eggs</a></h4>
					<a href="#"><img src="../static/images/goods/goods015.jpg"></a>
					<div class="prize">N23.00</div>
				</li>
				
				<li>
					<h4><a href="#">Duck eggs</a></h4>
					<a href="#"><img src="../static/images/goods/goods016.jpg"></a>
					<div class="prize">N45.00</div>
				</li>
				
				<li>
					<h4><a href="#">quail eggs</a></h4>
					<a href="#"><img src="../static/images/goods/goods017.jpg"></a>
					<div class="prize">N39.80</div>
				</li>
				
				<li>
					<h4><a href="#">Goose egg</a></h4>
					<a href="#"><img src="../static/images/goods/goods018.jpg"></a>
					<div class="prize">N49.90</div>
				</li>
				
			</ul>
		</div>
	</div>
    
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">fresh vegetables</h3>
			<div class="subtitle fl">
				<span>|</span>
				
                
				<a href="#">parsley</a>
				
				<a href="#">celery</a>
				
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">see more</a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="../static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				
                
				<li>
					<h4><a href="#">Chinese cabbage</a></h4>
					<a href="#"><img src="../static/images/goods/goods018.jpg"></a>
					<div class="prize">N4.50</div>
				</li>
				
				<li>
					<h4><a href="#">celery</a></h4>
					<a href="#"><img src="../static/images/goods/goods019.jpg"></a>
					<div class="prize">N3.50</div>
				</li>
				
				<li>
					<h4><a href="#">parsley</a></h4>
					<a href="#"><img src="../static/images/goods/goods020.jpg"></a>
					<div class="prize">N7.90</div>
				</li>
				
				<li>
					<h4><a href="#">Red chilli</a></h4>
					<a href="#"><img src="../static/images/goods/goods021.jpg"></a>
					<div class="prize">N11.00</div>
				</li>
				
			</ul>
		</div>
	</div>
    
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Frozen food</h3>
			<div class="subtitle fl">
				<span>|</span>
				
                
				<a href="#">Crab stick</a>
				
				<a href="#">Quick-frozen dumplings</a>
				
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">see more></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="../static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				
                
				<li>
					<h4><a href="#">Fish Ball</a></h4>
					<a href="#"><img src="../static/images/goods/goods021.jpg"></a>
					<div class="prize">N66.00</div>
				</li>
				
				<li>
					<h4><a href="#">Crab stick</a></h4>
					<a href="#"><img src="../static/images/goods/goods019.jpg"></a>
					<div class="prize">N68.00</div>
				</li>
				
				<li>
					<h4><a href="#">Shrimp</a></h4>
					<a href="#"><img src="../static/images/goods/goods018.jpg"></a>
					<div class="prize">N89.99</div>
				</li>
				
				<li>
					<h4><a href="#">Quick-frozen dumplings</a></h4>
					<a href="#"><img src="../static/images/goods/goods020.jpg"></a>
					<div class="prize">N20.00</div>
				</li>
				
			</ul>
		</div>
	</div>
    






	<div class="footer">
		<div class="foot_link">
			<a href="#">about us</a>
			<span>|</span>
			<a href="#">contact us</a>
			<span>|</span>
			<a href="#">talent acquisition</a>
			<span>|</span>
			<a href="#">Links</a>		
		</div>
		<p>CopyRight © 2021 EHIDIGITAL Co., Ltd. All Rights Reserved</p>
		<p>phone：010-****888 </p>
	</div>
    
    
    
	
</body>
</html>