<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Carl's Market-Product List</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">Welcome to Carl's Market!</div>
			<div class="fr">
				<div class="login_info fl">
					WELCOME：<em>Sonia Ofure</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">Login</a>
					<span>|</span>
					<a href="register.html">Register</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">User Center</a>
					<span>|</span>
					<a href="cart.html">My Shopping cart</a>
					<span>|</span>
					<a href="user_center_order.html">My Order</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="../static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="Search products">
			<input type="button" class="input_btn fr" name="" value="Search for">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">My Shopping cart</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>All Categories</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">fresh fruits</a></li>
					<li><a href="#" class="seafood">Seafood</a></li>
					<li><a href="#" class="meet">Pork, Beef and Mutton</a></li>
					<li><a href="#" class="egg">Poultry eggs</a></li>
					<li><a href="#" class="vegetables">fresh vegetables</a></li>
					<li><a href="#" class="ice">Frozen food</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">Home page</a></li>
				<li class="interval">|</li>
				<li><a href="">Mobile phone fresh</a></li>
				<li class="interval">|</li>
				<li><a href="">Lottery</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">All Categories</a>
		<span>></span>
		<a href="#">fresh fruits</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>New Product</h3>
				<ul>
					<li>
						<a href="#"><img src="../static/images/goods/goods001.jpg"></a>
						<h4><a href="#">Imported lemons</a></h4>
						<div class="prize">N3.90</div>
					</li>
					<li>
						<a href="#"><img src="../static/images/goods/goods002.jpg"></a>
						<h4><a href="#">Muscat grape</a></h4>
						<div class="prize">N16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">default</a>
				<a href="#">price</a>
				<a href="#">Popularity</a>
			</div>

			<ul class="goods_type_list clearfix">
				<li>
					<a href="detail.html"><img src="../static/images/goods/goods003.jpg"></a>
					<h4><a href="detail.html">Daxing greenhouse strawberry</a></h4>
					<div class="operate">
						<span class="prize">N16.80</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods004.jpg"></a>
					<h4><a href="#">Turpan Pear and Light Apricot</a></h4>
					<div class="operate">
						<span class="prize">N5.50</span>
						<span class="unit">5.50/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods005.jpg"></a>
					<h4><a href="#">Yellow fleshed peach</a></h4>
					<div class="operate">
						<span class="prize">N10.00</span>
						<span class="unit">10.00/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods006.jpg"></a>
					<h4><a href="#">Imported Prunes</a></h4>
					<div class="operate">
						<span class="prize">N28.80</span>
						<span class="unit">28.8/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods007.jpg"></a>
					<h4><a href="#">Fragrant Pear</a></h4>
					<div class="operate">
						<span class="prize">N6.45</span>
						<span class="unit">6.45/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods008.jpg"></a>
					<h4><a href="#">chestnut</a></h4>
					<div class="operate">
						<span class="prize">N9.50</span>
						<span class="unit">9.50/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods009.jpg"></a>
					<h4><a href="#">Hainan Banana</a></h4>
					<div class="operate">
						<span class="prize">N3.30</span>
						<span class="unit">3.30/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods010.jpg"></a>
					<h4><a href="#">Green apple</a></h4>
					<div class="operate">
						<span class="prize">N5.00</span>
						<span class="unit">5.00/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods011.jpg"></a>
					<h4><a href="#">blueberry</a></h4>
					<div class="operate">
						<span class="prize">N28.80</span>
						<span class="unit">28.8/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods012.jpg"></a>
					<h4><a href="#">Kiwi</a></h4>
					<div class="operate">
						<span class="prize">N25.80</span>
						<span class="unit">25.8/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src="../static/images/goods/goods013.jpg"></a>
					<h4><a href="#">tangerine</a></h4>
					<div class="operate">
						<span class="prize">N4.80</span>
						<span class="unit">4.8/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src="../static/images/goods/goods014.jpg"></a>
					<h4><a href="#">Navel orange</a></h4>
					<div class="operate">
						<span class="prize">N3.50</span>
						<span class="unit">3.50/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src="../static/images/goods/goods001.jpg"></a>
					<h4><a href="#">Imported lemons</a></h4>
					<div class="operate">
						<span class="prize">N3.90</span>
						<span class="unit">3.90/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>
				<li>
					<a href="#"><img src="../static/images/goods/goods002.jpg"></a>
					<h4><a href="#">Muscat grape</a></h4>
					<div class="operate">
						<span class="prize">N16.80</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>
			</ul>

			<div class="pagenation">
				<a href="#">< Previous page </a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#"> Next page ></a>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">about Us</a>
			<span>|</span>
			<a href="#">contact us</a>
			<span>|</span>
			<a href="#">talent acquisition</a>
			<span>|</span>
			<a href="#">Links</a>		
		</div>
		<p>CopyRight © 2021 EHIDIGITAL Co., Ltd. All Rights Reserved</p>
		<p>phone：010-****888 </p>
	</div>
	
</body>
</html>