<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Carl's Market-User Center</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">Welcome to Carl's Market!</div>
			<div class="fr">
				<div class="login_info fl">
					WELCOME：<em>Sonia Ofure</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">Login</a>
					<span>|</span>
					<a href="register.html">Register</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">User Center</a>
					<span>|</span>
					<a href="cart.html">my shopping cart</a>
					<span>|</span>
					<a href="user_center_order.html">My Order</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="../static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;User Center</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="Search products">
			<input type="button" class="input_btn fr" name="" value="search for">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>User Center</h3>
			<ul>
				<li><a href="user_center_info.html" class="active">· Personal information</a></li>
				<li><a href="user_center_order.html">· All orders</a></li>
				<li><a href="user_center_site.html">· Shipping address</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">Basic Information</h3>
						<ul class="user_info_list">
							<li><span>username：</span>18210569700</li>
							<li><span>contact details：</span>18210569700</li>
							<li><span>contact address：</span>Garki</li>			
						</ul>
				</div>
				
				<h3 class="common_title2">Recently Viewed</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
				<li>
					<a href="detail.html"><img src="../static/images/goods/goods003.jpg"></a>
					<h4><a href="detail.html">Daxing greenhouse strawberry</a></h4>
					<div class="operate">
						<span class="prize">N16.80</span>
						<span class="unit">16.80/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods004.jpg"></a>
					<h4><a href="#">Turpan Pear and Light Apricot</a></h4>
					<div class="operate">
						<span class="prize">N5.50</span>
						<span class="unit">5.50/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods005.jpg"></a>
					<h4><a href="#">Yellow fleshed peach</a></h4>
					<div class="operate">
						<span class="prize">N10.00</span>
						<span class="unit">10.00/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods006.jpg"></a>
					<h4><a href="#">Imported Prunes</a></h4>
					<div class="operate">
						<span class="prize">N28.80</span>
						<span class="unit">28.8/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>

				<li>
					<a href="#"><img src="../static/images/goods/goods007.jpg"></a>
					<h4><a href="#">Fragrant Pear</a></h4>
					<div class="operate">
						<span class="prize">N6.45</span>
						<span class="unit">6.45/500g</span>
						<a href="#" class="add_goods" title="add to Shopping Cart"></a>
					</div>
				</li>
			</ul>
		</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">about Us</a>
			<span>|</span>
			<a href="#">contact us</a>
			<span>|</span>
			<a href="#">talent acquisition</a>
			<span>|</span>
			<a href="#">Links</a>		
		</div>
		<p>CopyRight © 2021 EHIDIGITAL Co., Ltd. All Rights Reserved</p>
		<p>phone：010-****888 </p>
	</div>
	
</body>
</html>