<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Carl's Market-User Center</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">Welcome to Carl's Market!!</div>
			<div class="fr">
				<div class="login_info fl">
					WELCOME：<em>Sonia Ofure</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">Login</a>
					<span>|</span>
					<a href="register.html">Register</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">User Center</a>
					<span>|</span>
					<a href="cart.html">my shopping cart</a>
					<span>|</span>
					<a href="user_center_order.html">My Order</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="../static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;User Center</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="Search products">
			<input type="button" class="input_btn fr" name="" value="search for">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>User Center</h3>
			<ul>
				<li><a href="user_center_info.html">· Personal information</a></li>
				<li><a href="user_center_order.html" class="active">· All orders</a></li>
				<li><a href="user_center_site.html">· Shipping address</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">All orders</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">order number：56872934</li>
					<li class="col02 stress">unpaid</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="../static/images/goods02.jpg"></li>
									<li class="col02">Gala Apple Gala Apple<em>11.80 Naira/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80 Naira</li>	
								</ul>
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="../static/images/goods02.jpg"></li>
									<li class="col02">Gala Apple Gala Apple<em>11.80 Naira/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80 Naira</li>	
								</ul>
							</td>
							<td width="15%">33.60 Naira</td>
							<td width="15%">Pending payment</td>
							<td width="15%"><a href="#" class="oper_btn">To pay</a></td>
						</tr>
					</tbody>
				</table>
				
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2016-8-21 17:36:24</li>
					<li class="col02">order number：56872934</li>
					<li class="col02 stress">Paid</li>			
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="../static/images/goods02.jpg"></li>
									<li class="col02">Gala Apple Gala Apple<em>11.80 Naira/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80 Naira</li>	
								</ul>
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="../static/images/goods02.jpg"></li>
									<li class="col02">Gala Apple Gala Apple<em>11.80 Naira/500g</em></li>	
									<li class="col03">1</li>
									<li class="col04">11.80 Naira</li>	
								</ul>
							</td>
							<td width="15%">33.60 Naira</td>
							<td width="15%">Already paid</td>
							<td width="15%"><a href="#" class="oper_btn">View Logistics</a></td>
						</tr>
					</tbody>
				</table>

				<div class="pagenation">
					<a href="#">< Previous page </a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#"> Next page ></a>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">about Us</a>
			<span>|</span>
			<a href="#">contact us</a>
			<span>|</span>
			<a href="#">talent acquisition</a>
			<span>|</span>
			<a href="#">Links</a>		
		</div>
		<p>CopyRight © 2021 EHIDIGITAL Co., Ltd. All Rights Reserved</p>
		<p>phone：010-****888 </p>
	</div>
	
</body>
</html>